:root {
  --main-clr: #1976d2;
  --secondary-clr: hsl(33, 78%, 91%);
  --scroll-boxShadow: inset 0 0 6px hsla(191, 59%, 41%, 0.3);
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--secondary-clr);
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  scrollbar-color: var(--secondary-clr);
  scrollbar-width: thin;
  scrollbar-track-color: var(--main-clr);
}
body::-webkit-scrollbar-track {
  box-shadow: var(--scroll-boxShadow);
  background-color: var(--secondary-clr);
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: var(--secondary-clr);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-clr);
}
