.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* scroll-down */
.scrollDown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  align-items: center;
  border: 2px solid white;
  width: 45px;
  aspect-ratio: 1/2;
  border-radius: 30px;
  right: 5%;
  bottom: 5%;
}

.scrollDown-span {
  width: 6px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 10px auto;
  background-color: white;
  position: relative;
}

.typingAnim {
  width: 0;
  animation: typing 5s infinite steps(30);
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid white;
}

@keyframes typing {
  to {
    width: 30ch;
  }
}

.scrollDown-span::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: none;
  width: 20px;
  aspect-ratio: 1;
  background-color: transparent;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg) translateX(calc(-14px));
  margin-top: 4px;
  opacity: 0;
  cursor: pointer;
  animation: fadeOut 1s infinite ease-in-out;
}

@keyframes fadeOut {
  to {
    margin-top: 40px;
    opacity: 1;
  }
}
